# Node modules directory
node_modules/
prisma/migrations
.gitignore
.gcloudignore
# Environment variable files
.env
.env.sample
service-account-key.json

# Documentation
docs/

# Test files
testConnection.js
request.rest
test/

# Temporary or sample configuration files
app.yaml
app.yaml.sample


UserAPI/test/
UserAPI/docs/
UserAPI/request.rest
UserAPI/testConnection.js


