# Node modules directory
node_modules/

# Environment variable files
.env
.env.sample

# Documentation
docs/

# Test files
testConnection.js
request.rest
test/

# Temporary or sample configuration files
app.yaml
app.yaml.sample


UserAPI/test/
UserAPI/docs/
UserAPI/request.rest
UserAPI/testConnection.js